<!DOCTYPE html>
<html>
  <head>
    <title>My ToDo</title>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <img src="/public/img/logo.png" alt="ToDo" class="logo">
    <div class="container">
      <section class="modify">
        <div class="addlist">
          <label>New List:</label>
          <input type="text">
          <button>Add List</button>
        </div>
      </section>
    </div>

    <div class="container">
      <section class="todo">
        <section class="lists">
          <div class="item list selected">
            <div class="name">List 1</div>
            <div class="close">&times;</div>
          </div>
          <div class="item list">
            <div class="name">List 2</div>
            <div class="close">&times;</div>
          </div>
          <div class="item list">
            <div class="name">List 3</div>
            <div class="close">&times;</div>
          </div>
        </section>
        <section class="tasks">
          <div class="item task">
            <div class="name">This is a task.</div>
            <input type="checkbox" class="complete">
          </div>
          <div class="item task">
            <div class="name">This is another task.</div>
            <input type="checkbox" class="complete">
          </div>
          <div class="item task">
            <div class="name">This is yet another task.</div>
            <input type="checkbox" class="complete">
          </div>
          <section class="addtask">
            <input type="text">
            <button>Add Task</button>
          </section>
        </section>
      </section>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/public/script.js"></script>
    <script>
      $('.close').click(function() {
        
      });
    </script>
  </body>
</html>
