<!DOCTYPE html>
<html>
  <head>
    <title>My ToDo</title>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <img src="/public/img/logo.png" alt="ToDo" class="logo">
    <div class="container">
      <section class="modify">
        <div class="addlist">
          <label>New List:</label>
          <input type="text">
          <button>Add List</button>
        </div>
      </section>
    </div>

    <div class="container">
      <section class="todo">
        <ul class="lists"></ul>
        <ul class="tasks">
          <section class="addtask">
            <input type="text">
            <button>Add Task</button>
          </section>
        </ul>
      </section>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/public/script.js"></script>
  </body>
</html>
