/* General */
/* ----------------------------------------------------- */
body {
  min-width: 740px;
  margin: 0; padding: 0;
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.logo {
  width: 64px; height: 64px;
  position: absolute;
  top: 20px; left: 20px;
}

.item {
  height: 40px;
  margin: 5px 5px 0 5px; padding: 0 0 0 15px;
  border-radius: 3px;
  line-height: 40px;
  vertical-align: middle;
}

button {
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  background: #4774E8; color: white;
}

button:hover {
  background: #416AD4;
  cursor: pointer;
}

input[type="text"] {
  padding: 0 6px;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 16px;
}

/* Modify */
/* ----------------------------------------------------- */
.modify {
  width: 100%;
  margin-top: 20px; padding: 5px;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-sizing: border-box;
}

.addlist {
  padding: 10px;
}

.addlist>label {
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

.addlist>input {
  width: 280px; height: 30px;
  vertical-align: middle;
}

.addlist>button {
  width: 80px; height: 32px;
}


/* ToDo */
/* ----------------------------------------------------- */
.todo {
  width: 500px; height: 460px;
  margin: 20px 0 20px 0;
}

/* Lists */
.lists {
  width: 180px; height: 100%;
  float: left;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  background: #4774E8;
  overflow: hidden;
}

.list {
  width: 155px;
  background: white;
}

.list:hover {
  cursor: pointer;
}

.list.selected {
  font-weight: bold;
}

.list>.name {
  width: 114px;
  padding-left: 15px;
  position: absolute;
  left: 5px;
}

.list>.close {
  width: 40px; height: 100%;
  float: right;
  border-left: 1px solid #DDD;
  border-radius: 0 3px 3px 0;
  font-size: 16px;
  text-align: center;
}

.list>.close:hover {
  color: #E11931;
  cursor: pointer;
}

/* Tasks */
.tasks {
  width: 320px; height: 100%;
  padding-bottom: 46px;
  float: right;
  border: 1px solid #4774E8;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  background: #FFF;
  overflow: scroll;
}

.task {
  width: 294px; height: 40px;
  box-sizing: border-box;
}

.task:hover {
  background: #FAFAFA;
}

.task .name {
  float: left;
}

.task .complete {
  height: 100%;
  margin: 0 10px 0 0;
  float: right;
}

.addtask {
  width: 308px; height: 46px;
  padding: 0 0 0 10px;
  position: absolute;
  bottom: 1px;
  border-radius: 0 0 3px 0;
  line-height: 46px;
  background: #EEE;
}

.addtask>input {
  width: 200px; height: 30px;
  vertical-align: middle;
}

.addtask>button {
  width: 80px; height: 32px;
}
